.search_bar{
  z-index: 1;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  height: 5vh;
  display: flex;
  width: 100%;
  background-color:transparent;

  & li{
    flex: 1;
    display: block;
    flex-direction: row;
    
  }

}