@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

/* font-family: 'Ubuntu Mono', monospace; */

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.homepage{
  width: 98%;
  height: 95vh;
  margin: 1%;
  background: linear-gradient(45deg, #00C9FF 0%, #92FE9D 100%);
}

.header__navbar{
 display: flex;
 justify-content: space-between;
 z-index: 1;
}

.logo{
  height: 50px;
  margin: 40px;
  color: lightcyan;
}

.menu{
  height: 50px;
  margin: 40px;
  color: lightcyan;
}

.title{
  font-family: 'Ubuntu Mono', monospace, sans-serif;
  font-weight: 400;
  font-size: 3rem;
  margin: 40px;
  color: lightcyan;
}

/* .header__items{
  visibility: hidden;
  display: none;
} */

/* clip-path: polygon(0 0, 100% 1%, 100% 100%, 30% 100%); */
.header__items{
  position: absolute;
  left: 34%;
  width: 65%;
  height:95vh;
  border: solid black 5px;
  background-image: inherit;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
  
}

.header__items .header__list-items{
  text-decoration: none;
  color: lightcyan;
  margin: 30px 0;
  font-family:'Ubuntu Mono', monospace, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 150px;
  animation: moveInRight ease-in 1s;
  position: relative;
  list-style-type: none;
  left: 50%;
  top: 10%;
}

.header__items .header__list-items a{
  text-decoration: inherit;
  color: inherit;
}

@keyframes moveInRight {
  0%{
    opacity: 0;
    z-index: -1;
  }

  100%{
    opacity: 1;
    z-index: 2;
  }
}
